extends layout

block content   
    section.credits.w-60
        h1.i.tc.ttu.fw4 Credits
        
        div.starring
            h2.i.tc.fw2 Starring

            ul.list.pl0.lh-copy
                li Koumbie <span class="dotleading"></span> The Pilot
                li Lesley Smith* <span class="dotleading"></span> The Lawyer for the IMO
                li Mary Fay Coady* <span class="dotleading"></span> The Lawyer for the Mont Blanc
                li Brian Riley <span class="dotleading"></span> The Stenographer (Sound & Projection Design)
                li Dustin Scott Harvey <span class="dotleading"></span> The Press (Videographer)

            p.i.f6.lh-copy *The participation of these Artists are arranged by permission of Canadian Actors’ Equity Association under the provisions of the Dance-Opera-Theatre Policy.

        div.with
            h2.i.tc.fw2 Behind the Scenes

            ul.list.pl0.lh-copy
                li Janet Maybee <span class="dotleading"></span> The Historian
                li Ned Zimmerman <span class="dotleading"></span> The Dispatcher (Web Design & Development)
                li Ben Stone <span class="dotleading"></span> The Director
                li Raeesa Lalani <span class="dotleading"></span> The Marketing and Communications Manager
                li Colleen MacIsaac <span class="dotleading"></span> The Graphic Designer
                li Emily Pettet <span class="dotleading"></span> The Assistant Director


        div.madewith
            h2.i.tc.fw2 With

            ul.list.pl0.lh-copy
                li Kingfisher <span class="dotleading"></span> <a class="link white underline pr1" href="https://creativecommons.org/licenses/by/4.0/">(CC)</a>  <a class="link white underline" href="https://thenounproject.com/naripuru">parkjisun</a>