extends layout

block content    
  section.broadcast
    header.flex.flex-row.justify-between.items-center.ph3
      h1.white.order-2.tr.i.ttu.mv0= title
      p.status.order-1.b.ttu Live 
        span.countdown
    div.overlay
      p.date.bg-black.white.pa2 December 1917
    aside.tweets.white
      h2.ph3.f4.flex.flex-row.items-centre.justify-start Commentary
    footer.ph2.white.bg-gray.flex.flex-column.justify-center
      p.ticker.tl.ttu.f7.b

block colophon
  footer.colophon.absolute.bottom-0
      p.ttu.tc.f7
        a.link.silver(href="/credits/") Credits

block scripts
  script(src='/scripts/atthishour.js')
