extends layout

block content    
  section.screen
    header
      h1.white.tr.i.ttu.pr3.pv2.mv0= title
    div.layer
      p.date.bg-black.white.pa2 December, 1917
    div(data-type="youtube" data-video-id="SxWKffqBjMM" data-plyr='{ "autoplay": true, "loop": true, "volume": 1, "controls": [] }')
    aside.tweets.white
    footer.h3.ph3.black.bg-white.flex.flex-column.justify-center
      p.ticker.lh-copy.tc.ttu.f7