extends layout

block content    
  section.video.flex.flex-column.justify-end
    h1.bg-dark-red.white.tr.i.ttu.pr3.pv2.mb0= title
    div.ticker.ttu.black.bg-white.h2.w-100.mb2.ph2.flex.flex-row.items-center.justify-end.overflow-hidden
