extends layout

block content    
  section.screen
    header
      h1.bg-dark-red.white.tr.i.ttu.pr3.pv2.mv0= title
    div(data-type="youtube" data-video-id="3pUjLkcxdow" data-plyr='{ "autoplay": true, "loop": true, "volume": 1 }')
    aside.bg-white.black
      p.twitter.ph3
    footer.h3.ph3.black.bg-white.flex.flex-column.justify-center
      p.lh-copy.tc.ttu.f7