extends layout

block content    
  section.screen
    header
      h1.bg-dark-red.white.tr.i.ttu.pr3.pv2.mv0= title
    //- div.layer
    //- div(data-type="youtube" data-video-id="3pUjLkcxdow" data-plyr='{ "autoplay": true, "loop": true, "volume": 1 }')
    iframe(id="ls_embed_1512487194" src="https://livestream.com/accounts/14764674/events/7965910/player?width=640&height=360&enableInfoAndActivity=true&defaultDrawer=&autoPlay=true&mute=false" width="640" height="360" frameborder="0" scrolling="no" allowfullscreen="no")
    aside.bg-white.black
      p.twitter.ph3
    footer.h3.ph3.black.bg-white.flex.flex-column.justify-center
      p.lh-copy.tc.ttu.f7