:root {
  --primary: #000;
  --accent: #373e3f;
}

body {
  background: var(--accent);
  font-family: "IBM Plex Sans", sans-serif;
}

a {
  text-decoration: underline;
}

.container {
  min-height: 100vh;
}

.screen {
  position: relative;
  width: 960px;
  height: 476px;
}

.screen header {
  position: absolute;
  width: 640px;
  height: 52px;
  bottom: 64px;
  z-index: 1917;
  background: var(--primary);
}

.screen .plyr {
  display: absolute;
  width: 640px;
  height: 360px;
  top: 0;
  left: 0;
}

.screen .layer {
  width: 640px;
  height: 360px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99999;
  background: transparent;
  background-image: url(/images/bars.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.screen .layer .date {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
}

.screen footer {
  position: absolute;
  width: 640px;
  height: 64px;
  bottom: 0;
  z-index: 1917;
}

.screen aside {
  background: var(--accent);
  height: 424px;
  width: 320px;
  position: absolute;
  top: 0;
  right: 0;
}

.tweet {
  font-weight: 300;
  padding: 0 1em;
}

.handle {
  display: block;
  margin-bottom: 0.5em;
  font-weight: 600;
  width: 100%;
  padding-bottom: 0.5rem;
  border-bottom: solid 2px #fff;
}

.ticker {
  font-family: "IBM Plex Mono", monospace;
}

@media all and (orientation: portrait) {
  .rotate {
    display: block;
  }
}

@media screen and (min-width: 30em) {
  // TODO
}

@media screen and (min-width: 30em) and (max-width: 60em) {
  // TODO
}

@media screen and (min-width: 60em) {
  // TODO
}
