:root {
  --primary: #000;
  --accent: #373e3f;
}

body {
  background: var(--accent);
  font-family: "IBM Plex Sans", sans-serif;
}

a {
  text-decoration: underline;
}

.container {
  min-height: 100vh;
}

.broadcast {
  position: relative;
  width: 960px;
  height: 452px;

  header {
    position: absolute;
    width: 640px;
    height: 52px;
    bottom: 40px;
    z-index: 1917;
    background: var(--primary);

    .status {
      color: #fff;
    }
  }

  .overlay {
    width: 640px;
    height: 360px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99999;
    background: url(/images/bars.svg);
    background-repeat: no-repeat;
    background-size: cover;

    .date {
      position: absolute;
      top: 0.5rem;
      right: 1rem;
    }
  }

  .plyr {
    display: absolute;
    width: 640px;
    height: 360px;
    top: 0;
    left: 0;
  }

  footer {
    position: absolute;
    width: 640px;
    height: 40px;
    bottom: 0;
    z-index: 1917;
  }

  aside {
    background: var(--accent);
    height: 452px;
    width: 320px;
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;
    &:after {
      display: block;
      content: "";
      height: 452px;
      width: 320px;
      position: absolute;
      bottom: 0;
      box-shadow: inset 0px -20px 20px 0px rgba(55, 62, 63, 1);
    }

    .tweet {
      font-weight: 300;
      padding: 0 1em;

      &__handle {
        display: block;
        margin-bottom: 0.5em;
        font-weight: 600;
        width: 100%;
        padding-bottom: 0.5rem;
        border-bottom: solid 2px #fff;
      }
    }
  }

  &--live {
    header {
      .status {
        color: #f00;
      }
    }

    .overlay {
      background: transparent;
    }
  }
}

@media all and (orientation: portrait) {
  .rotate {
    display: block;
  }
}

@media screen and (min-width: 30em) {
  // TODO
}

@media screen and (min-width: 30em) and (max-width: 60em) {
  // TODO
}

@media screen and (min-width: 60em) {
  // TODO
}
