:root {
  --primary: #f48120;
  --secondary: #faad3f;
  --accent1: #aaa;
  --accent2: #777;
}

body {
  font-family: "IBM Plex Sans", sans-serif;
}

a {
  text-decoration: underline;
}

.container {
  min-height: 100vh;
}

.screen {
  position: relative;
  width: 960px;
  height: 424px;
}

.screen header {
  position: absolute;
  width: 640px;
  top: 0;
  z-index: 1917;
}

.screen .plyr {
  display: absolute;
  width: 640px;
  top: 0;
  left: 0;
}

.screen .layer {
  width: 640px;
  height: 480px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99999;
  background: transparent;
}

.screen footer {
  position: absolute;
  width: 640px;
  bottom: 0;
  z-index: 1917;
}

.screen aside {
  height: 424px;
  width: 320px;
  position: absolute;
  top: 0;
  right: 0;
}

.ticker {
  font-family: "IBM Plex Mono", monospace;
}

@media all and (orientation: portrait) {
  .rotate {
    display: block;
  }
}

@media screen and (min-width: 30em) {
}

@media screen and (min-width: 30em) and (max-width: 60em) {
}

@media screen and (min-width: 60em) {
}
